<footer>
    <div class="form-sec">
        <h3>Bayt Clothing</h3>
        <p>STAY UPDATED WITH OUR LATEST COLLECTIONS, NEW PRODUCTS, & EXCLUSIVE OFFERS.</p>
        <form action="/subscribe" method="post">
            <input type="email" name="email" required placeholder="Enter Email">
            <button>SUBMIT</button>
        </form>
    </div>
    <div class="footer-grid">

        <ul>
            <li>navigation links</li>
            <li><a href="/">HOME</a></li>
            <li><a href="/products">SHOP</a></li>
            
            <li><a href="/about">ABOUT</a></li>
            <li> <a href="/contact">CONTACT</a></li>
        </ul>
        <ul>
            <li>social links</li>
            <li><a href="https://instagram.com/">instagram</a></li>
            <li><a href="https://tiktok.com/">tiktok</a></li>
            <li><a href="https://facebook.com/">facebook</a></li>
        </ul>
        <div class="copyright">
            <span>&copy; BAYT CLOTHING CO </span>
            <div>
                <img height="95px" width="150px" src="assets/logo.jpeg" alt="store logo">
            </div>
        </div>
    </div>

</footer>