<header>
    <nav>
        <ul class="lg-links">
            <li><a href="/products">shop</a></li>
            <li><a href="/">home</a></li>
            <li><a href="/offer">offer</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/blogs">blogs</a></li>
        </ul>
        <div>
            <img src="assets/logo.jpeg" height="45px" width="95px" alt="shop logo">
        </div>
         
        <ul class="lg-links">
            <li><a href="/contact">contact us</a></li>
            
        </ul>
        <button id="mbl-btn"><i class="fa-solid fa-bars"></i></button>
    
        <ul id="menu" class="mbl-links">
            <div style="position: relative;  ">
                <button id="close-btn" style="position: absolute; right: 0; top: 8px; background-color: transparent; border: none;"><i style="font-size: 33px;" class="fa-solid fa-xmark"></i></button>
            </div>
            <li><a href="/products">SHOP</a></li>
            <li><a href="/">HOME</a></li>
            <li><a href="/offer">LATEST OFFER</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li> <a href="/contact">CONTACT</a></li>
        </ul>
    </nav>
</header>