<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="assets/logo.jpeg" type="image/x-icon">
    <script defer src="https://kit.fontawesome.com/00e77377ee.js" crossorigin="anonymous"></script>
    <title>ALL PRODUCTS | BaytClothing</title>
    <style>
        .model{
            display: none;
            background-color: rgba(255, 255, 255, 0.493);
            height: 100vh;
            width: 100vw;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100000000;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .model.visible{
            display: block;
        }
        .model > div{
            margin: 0 8px;
            padding: 13px 8px;
            background-color: white;
            box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.356);
            text-align: center;
        
        }
        #close-btn{
            width: fit-content;

        }
        .model h2,p{
            margin-top: 8px;
            text-transform: uppercase;
            padding: 13px 8px;
        }
        .model form{
            padding: 0 8px 13px 8px;
        }
        .model form input{
            width: 100%;
            padding: 13px 8px;

        }
        .model input , button{
            display: block;
            width: 100%;
            margin-top: 13px;
        }
        .model form button{
            color:white;
            background-color: #232323;
            padding: 13px 33px;
            text-transform: uppercase;
            border: none;
            transition: ease .3s;
            border: 1px solid #232323;
        }
        .model button:hover{
            background-color: transparent;
            color: black;
        }
    </style>
</head>
<body>
    <%- include('./partials/loader.ejs') %>
    <%- include('./partials/header.ejs') %>


    <section class="container banner" style="background-image: url('assets/product-banner.jpg');">
        <div class="shadow"></div>
        <div class="banner-text">
            <h2>ALL PRODUCTS</h2>
            <p>
                Bayt is a streetwear brand that fuses urban fashion with cultural heritage, offering bold, versatile designs that celebrate global influences and modern trends.</p>
        </div>
    </section>


    <section >
       
        <%- include('./partials/products.ejs') %>
    </section>

    <%- include('./partials/footer.ejs') %>
    <script src="js/script.js"></script>
    <script>
        const dialogBtns = document.querySelectorAll('.notify-btn');
        const Close = document.getElementById('dialog-close-btn');
        const model = document.getElementById('model');
    
        // Loop through all dialogBtns and add event listener to each one
        dialogBtns.forEach((btn) => {
            btn.addEventListener('click', () => {
                model.classList.add('visible');
            });
        });
    
        // Close the dialog when the close button is clicked
        Close.addEventListener('click', () => {
            model.classList.remove('visible');
        });
    </script>
    
    
</body>
</html>
